extends layout

block content
  .w3-card-4
      header.w3-container.w3-teal
        h2.w3-left Students List (DAW2020)
        .w3-container 
            h3 Welcome! You can: 
            a(href="/Students") Consult List of students
            p
            a(href="/Students/register") Register new Student
            p
      footer.w3-container.w3-teal
        address Gerado por dawApp :: 2020-Nov, Maria